* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: system-ui, sans-serif;
}
.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: 50px;
}
